<% provide(:title, 'Sign up') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails SO App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>SO App</h1>
    <p>
      This is the sign up page for the
      <a href="/">SO</a> application.
    </p>
  </body>
</html>
