<li>

  <span class="content"><%= answer.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(answer.created_at) %> ago by <span class="answer_name"><%= answer.user_name %></span>.
  </span>

  <% if current_user?(current_user) %>
    <%= link_to "delete", answer, method: :delete, data: { confirm: "You sure?" }, title: answer.content %>
  <% end %>
</li>