<% provide(:title, "Edit answer") %>
<h1>Update your answer</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@answer) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_area :content %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>